/node_modules
# public/
/public/hot
/public/storage
public/css
public/js
public/uploads
public/images
public/img
public/*.pdf
public/*.webmanifest
public/precache-manifest.*
public/manifest.json
public/service-worker.js
public/*.png
public/*.svg
public/*.xml
public/*.js
/public
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.*.php
.env.php
.phpunit.result.cache
*.code-workspace
resources/views/layouts/app.blade.php
